html body {
    padding: 0;
    margin: 0;
    border-radius: 10px;
}
ul > li {
    list-style: none;
}

/* 让 Element Plus 组件适配暗黑模式 */
.dark {
    --el-bg-color: #8b8b8b;
    --el-text-color-primary: #ffffff;
    background-color: #141414;
    color: white;
}

.no-cursor {
    user-select: none;
}